/* regole di reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* regole generali  */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.col, .logo, .button {
    border: 1px dashed black;
}

/* regole header  */

.header {
    background-color: rgb(126, 201, 211);
    padding: 20px 0 20px 0;
}

.header .container {
    /* max-width: 900px;
    margin: 0 auto; */
    display: flex;
}

.header .col {
    min-height: 34px;
    background-color: rgb(208, 153, 34);
}

.header .col1, .header .col3 {
    flex-basis: 20%;
}

.header .col2 {
    flex-grow: 1;
}


/* regole section  */


/* regole section 1 */

.section1 {
    padding: 45px 0 45px 0;
    background-color: blue;
}

.section1 .container {
    display: flex;
    justify-content: center;
}

.section1 .col {
    min-height: 387px;
    background-color: rgb(176, 108, 174);
    flex-basis: 75%;
}


/* regole section 2, section 4  e parte di section 3 */

.section2, .section4, .section3 {
    padding: 45px 0 45px 0;
    background-color: rgb(255, 255, 254);
}

.section2 .container, .section4 .container, .section3 .container {
    display: flex;
}

.section2 .col1, .section4 .col1, .section3 .col1 {
    min-height: 490px;
    background-color: rgb(25, 105, 226);
    flex-basis: 60%;
}

.section2 .col2, .section4 .col2, .section3 .col2 {
    min-height: 490px;
    background-color: rgb(255, 212, 253);
    flex-basis: 40%;
}


/* regole varianti section 3 */

.section3 {
    background-color: rgb(168, 168, 164);
}

.section3 .container {
    flex-direction: row-reverse;
}


/* regole section 5  */

.section5 {
    background-color: rgb(168, 168, 164);
    padding: 45px 0 45px 0;
}

.section5 .container {
    display: flex;
}

.section5 .col {
    min-height: 868px;
    background-color: rgb(73, 151, 76);
    flex-basis: 100%;
}


/* regole footer  */

.footer {
    background-color: rgb(31, 29, 29);
}

.footer1 {
    padding: 10px 0 45px 0;
}

.footer1 .container{
    display: flex;
}

.footer1 .col {
    min-height: 536px;
    flex-basis: 16.6%;
    background-color: rgb(98, 206, 206);
}

.footer1 .col1 {
    flex-grow: 1;
    background-color: rgb(206, 112, 131);
}


.footer2 {
    padding-top: 30px;
}

.footer2 .container {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 18px 0 18px 0;
}

.footer2 .tasto {
    background-color: salmon;
    min-height: 33px;
    min-width: 82px;
}








